* {
    margin: 0%;
    padding: 0%;

}

#sop{
    color:  rgb(231, 3, 155);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    gap: 40px;
}

.container {
    /* border: 2px solid red; */
    margin-top: 50px;
    image-rendering: 10px 10px 20px 20px red;
    background: url(robot.png);
    height: 60vh;
    width: 30vw;
    /* border-radius: 50%; */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: cover; */

}

h1 {
    color: white;
    margin: auto;
    text-align: cenetr;
    padding-left: 15px;
}

#btn {
    font-size: 30px;
    background: linear-gradient(to right, rgb(231, 3, 155), rgb(62, 62, 185));
    color: white;
    height: 40px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    border-radius: 18px;
    box-shadow: 2px 2px 10px red;
    transition: all 0.5s;
    text-overflow: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#btn:hover {
    box-shadow: 2px 2px 20px red;
    letter-spacing: 4px;
}